.center{
    margin-top: 20px;
    margin-left: 25%;
    background-color: rgb(200, 223, 231);
    color: black;
    width: 800px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}

.form h1{
    text-align: center;
    padding: 0 0 20px 0;
}

.form h2 {
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 50;
    border-bottom: 1px solid silver;
}

.register{
    text-align: center;
    padding: 0 0 20px 0;
}
